*.gold filter=lfs diff=lfs merge=lfs -text
sabermod_gcc/aarch64-linux-android-4.9/libexec/gcc/aarch64-linux-android/4.9.x-sabermod/cc1 filter=lfs diff=lfs merge=lfs -text
sabermod_gcc/aarch64-linux-android-4.9/libexec/gcc/aarch64-linux-android/4.9.x-sabermod/cc1plus filter=lfs diff=lfs merge=lfs -text
sabermod_gcc/aarch64-linux-android-4.9/libexec/gcc/aarch64-linux-android/4.9.x-sabermod/lto1 filter=lfs diff=lfs merge=lfs -text
sabermod_gcc/aarch64-linux-android-7.0/libexec/gcc/aarch64-linux-gnu/7.0.x-sabermod/cc1 filter=lfs diff=lfs merge=lfs -text
sabermod_gcc/aarch64-linux-android-7.0/libexec/gcc/aarch64-linux-gnu/7.0.x-sabermod/cc1plus filter=lfs diff=lfs merge=lfs -text
sabermod_gcc/aarch64-linux-android-7.0/libexec/gcc/aarch64-linux-gnu/7.0.x-sabermod/lto1 filter=lfs diff=lfs merge=lfs -text
